<section>
    {{#each posts as |post|}}
        <a href="/edit/post/{{post.id}}">
            <div class="post-list">
                <h2>{{post.title}}</h2>
                <span class="timestamp">posted on
                    {{format_date post.date_created}}</span>
            </div>
        </a>
    {{/each}}
    <button class="new-post-btn" type="button">+ New Post</button>
</section>

<script src="./js/post.js"></script>