<section>
    {{#each posts as |post|}}
        <article class="post">
            <div class="post-header">
                <h2>{{post.title}}</h2>
                <span class="timestamp">posted by
                    {{post.user_id}}
                    on
                    {{post.date_created}}</span>
            </div>
            <div class="post-content">
                {{post.content}}
            </div>
        </article>
    {{/each}}
</section>