<section class="forms">
    <form class="signup">
        <fieldset>
            <legend>Sign Up</legend>
            <label for="name">Name</label>
            <input type="text" id="name-signup" name="name" />
            <label for="email">Email</label>
            <input type="email" id="email-signup" name="email" />
            <label for="password">Password</label>
            <input type="text" id="password-signup" name="password" />
            <input type="submit" value="Sign Up" />
        </fieldset>
    </form>
    <form class="login">
        <fieldset>
            <legend>Login</legend>
            <label for="email">Email</label>
            <input
                type="email"
                id="email-login"
                name="email"
                autocomplete="username"
            />
            <label for="password">Password</label>
            <input
                type="password"
                id="password-login"
                name="password"
                autocomplete="current-password"
            />
            <input type="submit" value="Login" />
        </fieldset>
    </form>
</section>

<script src="./js/login.js"></script>