<section>
    <form id="login" class="user-form">
        <fieldset>
            <legend>Login</legend>
            <label for="email-login">Email</label>
            <input type="email" id="email-login" name="email" autocomplete="username" />
            <label for="password-login">Password</label>
            <input type="password" id="password-login" name="password" autocomplete="current-password" />
            <input type="submit" value="Login" />
        </fieldset>
    </form>
</section>

<script src="{{basePath}}js/login.js"></script>