<section>
    <div class="post-form">
        <form>
            <fieldset>
                {{#if newPost}}
                    <legend>New Post</legend>
                    <label for="new-post-title">Title</label>
                    <input
                        type="text"
                        name="new-post-title"
                        id="new-post-title"
                    />
                    <label for="new-post-content">Content</label>
                    <textarea
                        name="new-post-content"
                        id="new-post-content"
                    ></textarea>
                {{else}}
                    <legend>Edit Post</legend>
                    <label for="edit-post-title">Title</label>
                    <input
                        type="text"
                        name="edit-post-title"
                        id="edit-post-title"
                        value="{{post.title}}"
                    />
                    <label for="edit-post-content">Content</label>
                    <textarea
                        name="edit-post-content"
                        id="edit-post-content"
                    >{{post.content}}</textarea>
                {{/if}}
                <input type="submit" value="Submit Post" />
            </fieldset>
        </form>
    </div>
</section>