/* Google Font Import https://fonts.google.com/specimen/Anonymous+Pro*/
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");
/* Normalize from NPM */
@import "normalize.css";


/* Variables */
:root {
    --base-color: rgb(123, 199, 142);
    --hover-color: rgb(157, 245, 179);
    --dark-color: rgb(0, 29, 1);
    --visit-color: rgb(145, 145, 145);
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;

}

html,
body {
    min-height: 100vh;
    min-width: 95vw;
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: "Anonymous Pro", monospace;
    background-color: var(--base-color);
}

a {
    text-decoration: none;
}

/* Header */
header {
    position: relative;
    top: 0;
    width: 100vw;
    padding: 3rem 0.8rem 0.1rem 0.8rem;
    background-color: var(--dark-color);
    color: var(--base-color);
}

header h1 {
    padding: 0.8rem 0.5rem 0.5rem 0.5rem;
    margin-left: 2rem;
    border: 1px solid var(--base-color);
    border-radius: 1rem;
    width: fit-content;
    color: var(--dark-color);
    background-color: var(--base-color);
    box-shadow: 0.5rem 0.5rem rgb(95, 95, 95);
}

/* Navigation */
nav {
    position: absolute;
    top: 0.3rem;
    color: var(--base-color);
}

nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0.5rem 1rem;
}

/* This will add a boarder to the right of every LI tag but the last */
nav li:not(:last-child) {
    border-right: 1px solid var(--base-color);
}

nav li {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 900;
    padding: 0 2rem;
}

/* Nav Link Styles */
nav a:visited {
    /*Hide the underline due to privacy reasons 
    https://developer.mozilla.org/en-US/docs/Web/CSS/Privacy_and_the_:visited_selector*/
    text-decoration-color: var(--dark-color);
    color: var(--visit-color);
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
    color: var(--hover-color);
}

nav a {
    text-decoration: underline dashed;
    color: inherit;
}

/* **MAIN CONTAINTER** */
/* Flex for a responsive layout */
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

/* Posts and Comments Styles */
.post,
.comment {
    width: 80vw;
    margin: 0.5rem 0;
    border: 2px solid var(--dark-color);
}

.post-list {
    margin: 0.5rem 0;
    width: 80vw;
}

.post-header,
.post-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
}

.post-header h2,
.post-list h2 {
    padding-left: 1rem;
    color: var(--base-color);
    font-size: 1.3rem;
}

.post-header a,
.post-list a {
    color: inherit;
    text-decoration: none;
}

.post-header a:hover,
.post-header a:focus,
.post-list a:hover,
.post-list a:focus {
    color: var(--hover-color);
    text-decoration: none;
}

.post-header .timestamp,
.post-list .timestamp {
    color: var(--base-color);
    font-size: 0.8rem;
    padding-right: 1rem;
}

.post-content p,
.comment p {
    padding: 0 1rem;
}

.comment-footer {
    display: flex;
    justify-content: end;
    background-color: var(--dark-color);
}

.comment-footer p {
    font-size: 0.8rem;
    padding: 0;
    margin: 0.5rem 0;
}

.comment-footer a {
    color: var(--base-color);
    text-decoration: underline dashed;
    font-style: normal;
    font-weight: 800;
}

.comment-footer a:hover,
.comment-footer a:focus {
    color: var(--hover-color);
    text-decoration: underline solid;
    font-style: normal;
    font-weight: 800;
}

/* 
    This is for a Pipe seperator between the comment Timestamp
    and the possible comment Edit link 
*/

/* .comment-footer span::before {
    color: var(--base-color);
    font-style: normal;
    content: " | ";
} */

.comment-footer span {
    color: var(--base-color);
    font-style: italic;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

/* Dashboard New Post Button */
.new-post-btn {
    position: fixed;
    bottom: 2vh;
    left: 45vw;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--dark-color);
    color: var(--base-color);
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: color, background-color 1s ease-out;
}
.new-post-btn:hover,
.new-post-btn:focus {
    background-color: var(--base-color);
    color: var(--dark-color);
    border: 2px solid var(--hover-color);
    cursor: pointer;
}

/* New and Edit Post and Comment form styles */
.post-form form {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 5em;
}

.post-form form {
    width: 80vw;
    margin-top: 1rem;
}

.comment-form form,
.post-form form {
    display: flex;
    flex-direction: column;
    height: 5em;
}

.comment-form fieldset,
.post-form fieldset {
    border: 2px groove var(--dark-color);
}

.comment-form legend,
.post-form legend {
    border: 2px groove var(--dark-color);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0 0.25rem;
    margin: 0.5rem 0;
}

.comment-form textarea,
.post-form textarea {
    width: 100%;
    height: 15rem;
}

.comment-form textarea:focus,
.post-form textarea:focus {
    border: 2px solid var(--dark-color);
}

/* User form Styles */
.user-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 55vh;
}

.user-form fieldset {
    height: 75%;
    width: fit-content;
    margin: auto;
    border: 2px groove var(--dark-color);
}

.user-form fieldset legend {
    border: 2px groove var(--dark-color);
    font-size: 1.5rem;
    padding: 0 0.5rem 0.5rem;
    font-weight: 600;
}

.user-form fieldset label,
.post-form form label {
    display: inline-block;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 600;
}

.user-form * input,
.post-form form input {
    display: inline-block;
    width: 100%;
    margin: 0 auto 0.5rem;
    padding: 1rem;
    border: initial;
}

.user-form * input:focus {
    border: 2px solid var(--dark-color);
}

/* All Form Button Styles */
.user-form fieldset input[type="submit"],
.comment-form input[type="submit"],
.post-form input[type="submit"],
.post-form input[type="button"] {
    background-color: var(--dark-color);
    color: var(--base-color);
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, 0);
    margin: 0.3rem 0.5rem;
    width: 35%;
    float: right;
    transition: color, background-color 0.5s ease-in;
}

.user-form fieldset input[type="submit"]:hover,
.user-form input[type="submit"]:focus,
.comment-form form input[type="submit"]:hover,
.comment-form form input[type="submit"]:focus,
.post-form input[type="submit"]:hover,
.post-form input[type="submit"]:focus,
.post-form input[type="button"]:hover,
.post-form input[type="button"]:focus {
    background-color: var(--base-color);
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    cursor: pointer;
}

/* Modal Styles */
.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
    background-color: var(--base-color);
    border: 1px solid var(--dark-color);
    box-shadow: 0.25rem 0.25rem 0 -0.1rem rgb(95, 95, 95);
    padding: 0;
    height: 65%;
    width: 50%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background-color: var(--dark-color);
}

.modal-header h2 {
    padding-left: 1rem;
    color: var(--base-color);
    font-size: 1.3rem;
}

.modal-header .modal-close {
    color: var(--base-color);
    margin-right: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.modal-header .modal-close:hover,
.modal-header .modal-close:focus {
    color: var(--hover-color);
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    padding: 0 1rem;
    font-size: 1.25rem;
}
