/* Normalize from NPM */
@import "normalize.css";

/* Google Font Import https://fonts.google.com/specimen/Anonymous+Pro*/
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");

/* Variables */
:root {
    --base-color: rgb(123, 199, 142);
    --hover-color: rgb(157, 245, 179);
    --dark-color: rgb(0, 29, 1);
    --visit-color: rgb(145, 145, 145);
}

html,
body {
    min-height: 100vh;
    min-width: 95vw;
    overflow-x: hidden;
}

body {
    font-family: "Anonymous Pro", monospace;
    background-color: var(--base-color);
}

/* Header */
header {
    position: relative;
    padding: 3rem 0.8rem 0.1rem 0.8rem;
    background-color: var(--dark-color);
    color: var(--base-color);
}

header h1 {
    padding: 0.8rem 0.5rem 0.5rem 0.5rem;
    margin-left: 2rem;
    border: 1px solid var(--base-color);
    border-radius: 1rem;
    width: fit-content;
    color: var(--dark-color);
    background-color: var(--base-color);
    box-shadow: 0.5rem 0.5rem rgb(95, 95, 95);
}

/* Navigation */
nav {
    position: absolute;
    top: 0.3rem;
    color: var(--base-color);
}

nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0.5rem 1rem;
}

/* This will add a boarder to the right of every LI tag but the last */
nav li:not(:last-child) {
    border-right: 1px solid var(--base-color);
}

nav li {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 900;
    padding: 0 2rem;
}

/* Nav Link Styles */
nav a:visited {
    /*Hide the underline due to privacy reasons 
    https://developer.mozilla.org/en-US/docs/Web/CSS/Privacy_and_the_:visited_selector*/
    text-decoration-color: var(--dark-color);
    color: var(--visit-color);
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
    color: var(--hover-color);
}

nav a {
    text-decoration: underline dashed;
    color: inherit;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.post {
    width: 80vw;
    margin: 0.5rem 0;
    border: 2px solid var(--dark-color);
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
}

.post-header h2 {
    padding-left: 1rem;
    color: var(--base-color);
    font-size: 1.3rem;
}

.post-header .timestamp {
    color: var(--base-color);
    font-size: 0.8rem;
    padding-right: 1rem;
}

.post-content p {
    padding: 0 1rem;
}

.forms {
    display: flex;
    align-items: center;
    width: 80vw;
    height: 55vh;
}

.forms fieldset {
    height: 75%;
    border: 2px groove var(--dark-color);
}

.forms legend {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
}

.forms form label {
    font-size: 1.25rem;
    font-weight: 600;
}

.forms form input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: initial;
}

.forms form input:not:focus {
    border: 3px solid var(--dark-color);
}

.forms form input[type="submit"] {
    background-color: var(--dark-color);
    color: var(--base-color);
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, 0);
    margin: 0.3rem 0.5rem;
    width: 35%;
    float: right;
    transition: background-color 1s ease-out;
    transition: color 1s ease-out;
}

.forms form input[type="submit"]:hover {
    background-color: var(--base-color);
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
    background-color: var(--base-color);
    border: 1px solid var(--dark-color);
    box-shadow: 0.25rem 0.25rem 0 -0.1rem rgb(95, 95, 95);
    padding: 0;
    height: 65%;
    width: 50%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background-color: var(--dark-color);
}

.modal-header h2 {
    padding-left: 1rem;
    color: var(--base-color);
    font-size: 1.3rem;
}

.modal-header .modal-close {
    color: var(--base-color);
    margin-right: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.modal-header .modal-close:hover,
.modal-header .modal-close:focus {
    color: var(--hover-color);
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    padding: 0 1rem;
    font-size: 1.25rem;
}
